<div class="fakeButtonContainer table_button_add"> 
    <button type="button" class="fakeButtonContainer fakeButton btn btn-success" onclick="myFunction()">Create new Admin</button>
    <div class="expander">
        <div class="form">
            <%= render "form" %>
        </div>
    </div>
</div>
