<table class="table">
	<thead class="thead-dark table_header">
		<tr>
			<th class="table_header_row" scope="col">User</th>
			<th class="table_header_row" scope="col">Pass</th>
			<th class="table_header_row" scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @admin.each do |admin| %>
		<tr>
			<td> <%= admin.user %> </td>
			<td> <%= admin.password %> </td>
			<td> 
				<button type="button" class="btn btn-warning btn btn-primary btn-sm table_button">Update</button> 
				<button type="button" class="btn btn-danger btn btn-primary btn-sm table_button">Delete</button> 
			</td> 
		</tr>
		<% end %>
	</tbody>
</table>
