<div class="body">
	<div class="table_box">
		<h1 class="table_h1">Lista de Admins</h1>
		<!--load the table-->
		<%= render "show" %>
		<!--from to create new admin-->
	</div>
	<div class="form">
		<%= render "create" %>
	</div>
</div>
