<h1>Lista de Admin</h1> 
<table>
  <tr>
    <th>User</th>
    <th>Password</th>
  </tr>
  <% @admin.each do |admin| %>
     <tr>
       <td> <%= admin.user %></td> 
       <td> <%= admin.user %></td>
    </tr>
  <% end %> 
</table>
