<div class="body">

  <div class="admins">
    <section class="section_show_table">
      <%= render "/admin/show" %>
    </section>

    <section class="section_create_form">
      <%= render "/admin/create" %>
    </section>
  </div>

</div>
