<div class="body">

    <section class="section_show_table">
        <%= render "show" %>
    </section>

    <section class="section_create_form"">
        <%= render "create" %>
    </section>

    <section class="section_gallery">
        <%= link_to 'Go Image gallery', gallery_path, :class => "btn btn-danger" %>
    </section>

</div>
