<div class="father-box">
  <div class="panel panel-default">
    <div class="panel-heading"><h2 class="title">Create user login</h2></div>
    <div class="panel-body">
      <%= render "new" %>
    </div>
  </div>
</div>
</div>
